server:
  port: 8080
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: ${DB_URL_PROD}
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  jpa:
    generate-ddl: true
    properties:
      hibernate:
        format_sql: true


