name: Build and Test

# Descripción:
# Este workflow de GitHub Actions se activa cuando se crea un pull request hacia las ramas main o develop.
# Configura un entorno con JDK 21.
#
# Ejecuta los tests (mvn test).
# Compila el proyecto y genera el JAR (mvn clean package).
# Genera la documentación Javadoc (mvn javadoc:javadoc).
# Sube el JAR y el Javadoc como artefactos a GitHub Actions.
#
# ¿Para que subirlos como artefactos?
# Subir el JAR y el Javadoc como artefactos en GitHub Actions te sirve para:
# Descargar el ejecutable (JAR) directamente desde la interfaz de GitHub, sin necesidad de compilar localmente.
# Usar el JAR en otros workflows, despliegues automáticos o pruebas de integración.
# Compartir el JAR con otros desarrolladores o equipos fácilmente.
# Guardar la documentación Javadoc generada para consulta o publicación.
# Mantener un historial de artefactos generados por cada ejecución del workflow.
on:
  pull_request:
    branches:
      - main

env:
  POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
  POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
  POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
  DB_NAME: ${{ secrets.DB_NAME }}
  DB_USER: ${{ secrets.DB_USER }}
  DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
  DB_URL_DEV: ${{ secrets.DB_URL_DEV }}
  DB_URL_PROD: ${{ secrets.DB_URL_PROD }}
  JWT_SECRET_KEY: ${{ secrets.JWT_SECRET_KEY }}
  ACCESS_TOKEN_EXPIRATION: ${{ secrets.ACCESS_TOKEN_EXPIRATION }}

jobs:
  format-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"
      - name: Apply code formatting with Spotless
        run: mvn spotless:apply
      - name: Check code formatting with Spotless
        run: mvn spotless:check

  test-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"
      - name: Build and run tests
        run: mvn test
      - name: Build project
        run: mvn clean package
      - name: Upload JAR
        uses: actions/upload-artifact@v4
        with:
          name: featureflag-api
          path: target/*.jar

  javadoc:
    runs-on: ubuntu-latest
    needs: test-build
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"
      - name: Generate Javadoc
        run: mvn javadoc:javadoc
      - name: Upload Javadoc
        uses: actions/upload-artifact@v4
        with:
          name: javadoc
          path: target/site/apidocs
