name: Check Java Format

on:
  push:
    branches:
      - main
      - develop

jobs:
  format-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"
      - name: Apply code formatting with Spotless
        run: mvn spotless:apply
      - name: Check code formatting with Spotless
        run: mvn spotless:check
